doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="")
    title Weighing System - 
    link(href="/local/index.css" rel="stylesheet")
  body
  #content
script(src="/cdn/js/jquery.js")
script(src="/cdn/js/lea.js")
script(src="/cdn/js/require.js")
script(src="/local/index.js")
